---
import type { GetStaticPaths } from "astro";

import Layout from "../../layouts/Layout.astro";
import {getPokemonData } from "..//../utilities/getData"
import PokemonCardDescription from "@components/pokemons/PokemonCardDescription.astro";


export const getStaticPaths = ( async () => {
  const paths = await getPokemonData("name")
  return paths
}) satisfies GetStaticPaths;

const { name , url , descripcion , types , id , height , weight } = Astro.props

---
<Layout title=`Pokémon - #${id} ${name}` description= `Información sobre el pokémon ${name}` srcImage={url}>
  <section aria-label=`Datos de Pokémon ${name}` class="flex flex-col justify-center items-center gap-4  pb-12">
      <PokemonCardDescription  name={name} url={url} isBig  description = {descripcion} types = {types} id={id} height={height} weight={weight} />
  </section>
 
</Layout>