---
import { ClientRouter } from "astro:transitions"
import "@styles/global.css"
import { siteInfo } from "../const/siteInfo"
import TopBar from "@components/nav/TopBar.astro"
interface Props{
	title : string,
	description? : string,
	srcImage? : string

}
const { title = siteInfo.title , description = siteInfo.description, srcImage } = Astro.props 

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta  name="description" content={description} /> 

		<meta property = "og:title" content={title}/>
		<meta property="og:description"   content={description}/>
		<meta property = "og:image" content={srcImage} />
		<ClientRouter />
		<title> { title } </title>
	</head>
	<body class=" min-h-screen p-2 md:pb-4  bg-gradient-to-br from-gray-950 to-cyan-950 overflow-x-scroll ">
		<TopBar />
		<main class="max-w-7xl mx-auto">
			<slot />
		</main>
	</body>
</html>


